.app{
    margin-top: 10px;
    border: 1px solid #777;
    box-shadow: 1px 4px 7px rgba(0,0,0, .5);
    padding: 20px 10px;
    min-height: 60vh;
    width: 30%;
}
@media (max-width: 1391px) {
    .app{
        width: 50%;
    }
}@media (max-width: 840px) {
    .app{
        width: 80%;
    }
}

@media (max-width: 435px) {
    .app{
        width: 100%;
    }
}